<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Practice</title>
</head>
<body>
    <ul>
        <li>Hello {{ft .Name}}, You're age is {{.Age}} and weight is {{.Weight}}</li>
    </ul>
</body>
</html>